<!doctype html>
<html lang="en">
<head>
<title>Contact &middot; {{siteName}}</title>
{{partial:head}}
</head>
<body>
{{partial:header}}
<main>
<h1>Contact</h1>
{{partial:contact}}
</main>
{{partial:footer}}
</body>
</html>
