<!doctype html>
<html lang="en">
<head>
<title>Services &middot; {{siteName}}</title>
{{partial:head}}
</head>
<body>
{{partial:header}}
<main>
<h1>Services</h1>
{{partial:services}}
</main>
{{partial:footer}}
</body>
</html>
